.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0px;
  margin-top: 20px;
  max-width: 800px;
  width: 100%;
}

.albumItem {
  flex: 1 1 400px;
  max-width: 100%;
}

.bioItem {
  flex: 1 1 400px;
  max-width: 100%;
  min-height: 260px; 
}